node_modules
**/node_modules
.next
**/.next
.turbo
**/.turbo
*.tsbuildinfo
**/*.tsbuildinfo
.git
.github
data
/storage
apps/api/storage
.env
.env.*
!.env.example
!.env.production.example
docker/.cloudflared
coverage
**/coverage
*.log
.DS_Store
**/.DS_Store
._*
**/._*
.vscode
.idea
